properties/src/main/mule/properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2aa0b9a3-2fd3-4893-add4-aca9fec203ae" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="bab38d85-9a9c-488b-883a-1d2e469a40a0" file="properties\${env}.yaml" />
	<flow name="propertiesFlow" doc:id="afe55900-fd7f-41ce-842b-defb6419b859" >
		<http:listener doc:name="Listener" doc:id="90bb41fd-67c2-4fa2-a162-2c176a9be6a7" config-ref="HTTP_Listener_config" path="/${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="2d3f2b31-fbec-4ab6-86a3-2f7359e1742b" message="#[payload]"/>
	</flow>
</mule>
